# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

#Upload pdf files
/public/pdf/*

# Environment variables, never commit this file
.env

# IDEs and editors
/.idea

# The development sqlite file
database/development.sqlite
