.author-article {
  font-family: ArnoPro-SmbdSubhead;
  margin-bottom: 30px;
}

.title-article {
  font-size: 36px;
  font-family: ArnoPro-SmbdSubhead;
}

.key-words-article {
  margin-bottom: 10px;
}

.summary-article {
  margin-bottom: 10px;
  font-family: ArnoPro-ItalicSmText;
}

.summary-en-article {
  margin-bottom: 10px;
}

.link-article {

}

.article-info {
  font-size: 24px;
  font-family: ArnoPro-SmText;
}

.btn-article {
  background-color: #007398;
  margin: 0 10px;
}
