<div class="article-info">
  <div *ngIf="article.title" class="title-article">{{ article.title }}</div>
  <div *ngIf="article.author" class="author-article">{{ article.author }}</div>
  <div *ngIf="article.key_words" class="key-words-article">Ключові слова: {{ article.key_words }}</div>
  <div *ngIf="article.summary" class="summary-article">Анотація: {{ article.summary }}</div>
  <div *ngIf="article.summary_en" class="summary-en-article">Summary: {{ article.summary_en }}</div>
  <div *ngIf="article.document" class="link-article">
    <a href="{{ article.document }}" class="waves-effect waves-light btn btn-article">
      Переглянути статтю
    </a>
    <a target="_self"
       href="{{ article.document }}"
       download="{{ docName }}"
       class="waves-effect waves-light btn btn-article">
      Скачати статтю
    </a>
  </div>
</div>

