<div class="container">
  <div class="page-title">
    <h4>
      <a routerLink="/admin">Випуски</a>
      <i class="material-icons">keyboard_arrow_right</i>
      {{ isNew ? 'Додати' : 'Редагувати' }} випуск
    </h4>
    <span>
      <button *ngIf="!isNew" class="btn btn-small red" (click)="deleteTom()">
        <i class="material-icons">delete</i>
      </button>
    </span>
  </div>

  <div class="row">
    <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <input formControlName="name" id="name" type="text"
               [ngClass]="{ 'invalid' : form.get('name').invalid && form.get('name').touched }">
        <label for="name">Назва</label>
        <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
        <span *ngIf="form.get('name').errors['required']">
          Назва повинна бути зазначена.
        </span>
      </span>
      </div>

      <div class="input-field">
        <input formControlName="number" id="number" type="text"
               [ngClass]="{ 'invalid' : form.get('number').invalid && form.get('number').touched }">
        <label for="number">Номер</label>
        <span class="helper-text red-text" *ngIf="form.get('number').invalid && form.get('number').touched">
        <span *ngIf="form.get('number').errors['required']">
          Номер повинен бути зазначений.
        </span>
      </span>
      </div>

      <div class="input-field">
        <input formControlName="year" id="year" type="text"
               [ngClass]="{ 'invalid' : form.get('year').invalid && form.get('year').touched }">
        <label for="year">Рік</label>
        <span class="helper-text red-text" *ngIf="form.get('year').invalid && form.get('year').touched">
        <span *ngIf="form.get('year').errors['required']">
          Рік повинен бути зазначений.
        </span>
      </span>
      </div>

      <div class="input-field">
      <textarea formControlName="description"  id="description" class="materialize-textarea"
                [ngClass]="{ 'invalid' : form.get('description').invalid && form.get('description').touched }"
                #textArea></textarea>
        <label for="description">Опис</label>
        <span class="helper-text red-text" *ngIf="form.get('description').invalid && form.get('description').touched">
        <span *ngIf="form.get('description').errors['required']">
          Опис журналу повинен бути введений.
        </span>
      </span>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузити документ</span>
          <input [disabled]="docValid" (change)="onFileUpload($event)" type="file" #inputFile>
        </div>
        <div class="file-path-wrapper">
          <input  formControlName="file" class="file-path validate" type="text">
        </div>
      </div>

      <div>
        <button type="submit" class="waves-effect waves-light btn" [disabled]="form.invalid || form.disabled || validFile">
          Зберегти
        </button>
      </div>
    </form>
  </div>

</div>
