<div class="page-flexbox-wrapper">
  <nav class="nav-extended">
    <div class="container">
      <a routerLink="/"><div class="brand-gerb"></div></a>
      <div class="nav-wrapper valign-wrapper">
        <div class="brand-text">
          <div class="brand-title">«Волинський благовісник»</div>
          <div class="brand-disc">щорічний богословсько-історичний науковий журнал<br/>
            Волинської православної богословської академії УПЦ КП</div>
        </div>
        <div class="lang-block">
          <a routerLink="/en" class="lang">EN</a>
          <a routerLink="/" class="lang">UA</a>
        </div>
      </div>
    </div>
    <div class="nav-content">
      <div class="container">
        <div class="row">
          <ul class="main-menu">
            <li><a routerLink="/en/about" routerLinkActive="link-active" class="valign-wrapper">Про журнал</a></li>
            <li><a routerLink="/en/editorial-board" routerLinkActive="link-active" class="valign-wrapper">Редакційна колегія</a></li>
            <li><a routerLink="/en/for-authors" routerLinkActive="link-active" class="valign-wrapper">Авторам</a></li>
            <li><a routerLink="/en/journal-numbers" routerLinkActive="link-active" class="valign-wrapper">Номери журналу</a></li>
            <li><a routerLink="/en/reviewing" routerLinkActive="link-active" class="valign-wrapper">Етика публікацій та процедура рецензування</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="container text-info">
      <router-outlet></router-outlet>
    </div>

  </main>

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2018 Волинська православна богословська академія.
      </div>
    </div>
  </footer>
</div>
