.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #f1f1f1;
}

.nav-extended {
    background-color: #e9711c;
}

.nav-extended .nav-wrapper {
    min-height: 120px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
}

.brand-gerb {
    height: 90px;
    width: 80px;
    background-image: url("/assets/images/gerb_01-01 prozor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    float:left;
    margin-top: 15px;
}

.brand-disc {
    font-size: 20px;
    font-family: ArnoPro-Subhead;
    line-height: 1.2;
    color: white;
}

.brand-title {
    font-size: 36px;
    font-family: Hilandars;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: white;
}

.nav-content{
    min-height: 50px;
    background-color: #737373;
    color: white;
}

.main-menu, .main-menu li, .main-menu li a {
    min-height: 50px;
    font-family: ArnoPro-Subhead;
    font-size: 18px;
    color: white;
}

.row {
    margin-bottom: 0;
}

.main-menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-info {
    margin: 40px auto;
    font-family: ArnoPro-SmText;
    font-size: 18px;
    color: #505050;
    background-color: white;
    padding: 40px;
}

.link-active {
    border-bottom: 4px solid #e9711c;
}

.page-footer {
    padding-top: 0;
    background-color: #737373;
    font-family: ArnoPro-SmText;
    font-size: 15px;

}

.container {
    width: 90%;
    max-width: initial;
}

.lang-block {
    width: 40px;
    height: 60px;


}

.lang {
    display: flex;
    height: 50%;
    line-height: 1;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.lang:first-child {
    border-bottom: 1px solid white;
}

.lang:last-child {
    border-top: 1px solid white;
}

.lang:hover {
    background-color: #007398;
    border: 2px solid #007398;
}
