<div class="page-flexbox-wrapper">
<nav class="nav-extended">
        <div class="container">
            <a routerLink="/"><div class="brand-gerb hide-on-small-only"></div></a>
            <div class="nav-wrapper valign-wrapper">
                <div class="brand-text">
                    <div class="brand-title">«Волинський благовісник»</div>
                    <div class="brand-disc">щорічний богословсько-історичний науковий журнал<br/>
                        Волинської православної богословської академії УПЦ КП</div>
                </div>
                <div class="lang-block">
                    <a routerLink="/en" class="lang">EN</a>
                    <a routerLink="/" class="lang">UA</a>
                </div>
            </div>
        </div>
        <div class="nav-content">
            <div class="container">
                <div class="row">
                    <ul class="main-menu">
                        <li><a routerLink="/about" routerLinkActive="link-active" class="valign-wrapper">Про журнал</a></li>
                        <li><a routerLink="/editorial-board" routerLinkActive="link-active" class="valign-wrapper">Редакційна колегія</a></li>
                        <li><a routerLink="/for-authors" routerLinkActive="link-active" class="valign-wrapper">Авторам</a></li>
                        <li><a routerLink="/journal-numbers" routerLinkActive="link-active" class="valign-wrapper">Номери журналу</a></li>
                        <li><a routerLink="/reviewing" routerLinkActive="link-active" class="valign-wrapper">Етика публікацій та процедура рецензування</a></li>
                    </ul>
                  <div id="sb-search" class="sb-search " >
                        <form>
                            <input class="sb-search-input " [(ngModel)]="query" placeholder="Enter your search term..." type="search" value="" name="search" id="search" autocomplete="off">
                            <input class="sb-search-submit" type="submit"  value="">
                            <span class="sb-icon-search"><i class="material-icons">search</i></span>
                        </form>
                  </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="wrap-search">
      <ul class="collection">
        <a href="/{{ article.id }}" class="collection-item" *ngFor="let article of articles | search: query">
          {{article.author}}{{article.title}}
        </a>
      </ul>
    </div>

<main>
    <div class="container text-info">
        <router-outlet></router-outlet>
    </div>

</main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <a href="/admin" class="admin-link"><i class="material-icons">laptop_mac</i></a>© 2018 Волинська православна богословська академія.
            </div>
        </div>
    </footer>
</div>
