a {
  cursor: pointer;
}

.dn {
  display: none;
}

.h200 {
  height: 200px;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.page-title a {
  color: black;
  opacity: .8;
}
