<div class="main-img hide-on-small-only"></div>
<div class="main-text">
  <p><i>Журнал засновано у 2013 році.</i></p>
  <p><i>Засновник:</i> Волинська православна богословська академія Української Православної Церкви Київського Патріархату.</p>
  <p><i>Журнал зареєстровано Міністерством юстиції України:</i>
    свідоцтво про державну реєстрацію друкованого засобу масової інформації  КВ №22844–12744 ПР від 07.08 2017</p>
  <p><i>Виходить</i> 1 раз на рік.</p>
  <p><i>Сфера розповсюдження</i> – загальнодержавна.</p>
  <p><i>Мови видання</i> – українська, англійська.</p>
  <p>ISSN 2519–4348.</p>
  <i>Видання індексується науковими базами:</i>
  <ul>
    <li><span>Google Scholar</span></li>
    <li><span>NBUV</span></li>
  </ul>
  <p><i>Мета журналу</i> –</p>
  <p>Читачі мають можливість переглянути опубліковані наукові статті у «Волинському благовіснику» на сайті журналу http:www.vpba.org,  у рубриці «Номери журналу», а також придбати друкований варіант журналу у приміщенні Волинської православної богословської академії (м. Луцьк, вул. Градний Узвіз, 5), або замовити, написавши на електронну скриньку: <ins>nauka@vpba.org</ins> </p>
  <div class="adress">
    <p><i>Адреса редакції:</i></p>
    <p><b>Волинська православна богословська академія</b><br/>
      вул. Градний узвіз, 5, м. Луцьк, Волинська обл., Україна, 43025.
    </p>
    <p><i>Web:</i> www.vpba.org</p>
    <p><i>Email:</i> <ins>nauka@vpba.org</ins></p>
    <p><i>Тел.:</i> (0332) 723212,  (0332) 726072.</p>
  </div>
</div>
