<ul class="collapsible popout" #collapsible>
  <li>
    <div class="collapsible-header"><b>№ 1, 2013</b> <i>(Волинський благовісник: богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2013. – №1. – 288 с. )</i></div>
    <div class="collapsible-body">
      <p>1. Титул.</p>
      <p>2. Зміст.</p>
      <p>3. Михаїл (Зінкевич), митрополит. «Слово про закон і благодать» митрополита Іларіона: сакральний вимір Руської державності. – С. 9-12.</p>
      <p>4. Лозовицький В., свящ. Порушення Богом встановленої природи гармонії людських сімейних стосунків в одностатевому шлюбі. – С. 13-30.</p>
      <p>5. Тишкевич Б. Порівняльно-богословський аналіз пастирського душпіклування в православ'ї, католицизмі та протестантизмі. – С. 31-40.</p>
      <p>6. Цап'юк М., прот. Формування еклезіологічної доктрини у донікейський період. – С. 41-49.</p>
      <p>7. Сацик І. Генеза терміну «апокатастасіс» у ранньохристиянській традиції до часів Орігена. – С. 51-64.</p>
      <p>8. Швець І., прот. Праці Йосифа Флавія як джерело біблійної ісагогіки. – С. 65-70.</p>
      <p>9. Гринів Б., прот. Воздвиження Чесного і Животворчого Хреста Господнього: подія свята та еортологічна динаміка. – С. 71-76.</p>
      <p>10. Клочак В., прот. Типікон: проблема уставу та узгодження його із сучасною богослужбовою практикою. – С. 77-81.</p>
      <p>11. Беспалов С. Значення діяльності святителя Іларіона, митрополита Київського, в утвердженні самостійності Української Церкви. – С. 83-88.</p>
      <p>12. Волянюк Т., прот. Православні священнослужителі в культурно-освітньому просторі Волині другої половини 30-х рр. ХХ ст.: вектори діяльності, результати праці. – С. 89-98</p>
      <p>13. Диба Ю. Батьківщина Малковичів – «страна своя» преподобного Варлаама Печерського. – С. 99-112.</p>
      <p>14. Лотоцький В., прот. Поширення Християнства у Північному Причорномор'ї та Криму в ІІ-VIII ст. – С. 113-130.</p>
      <p>15. Рожко В. Методологія церковно-історичних досліджень (з наукового досвіду автора). – С. 131-145.</p>
      <p>16. Черенюк Я., свящ. Передумови реформи вищого церковного управління Російської Православної Церкви на початку  XVIII ст. – С. 147-153.</p>
      <p>17. Вакін В., свящ. Спроби скликання VIII Вселенського Собору. – С. 155-160.</p>
      <p>18. Франків Д., ієромонах. «Українське питання» і VIII Вселенський Собор. – С. 161-177.</p>
      <p>19. Пушко В., прот. Питання канонічного статусу православної діаспори в контексті VIII Вселенського собору. – С. 179-184.</p>
      <p>20. Марченко К., ігумен. Місія Православної проповіді в сучасному глобалізованому світі. – С. 185-196.</p>
      <p>21. Хромяк А., свящ. Згубний вплив астрології та магії на православного християнина. – С. 197-206.</p>
      <p>22. Дрозд В., прот. Арсен Річинський – волинський церковний діяч. – С. 207-220.</p>
      <p>23. Цап М., прот. Митрополит Іоан (Боднарчук) і третє відродження УАПЦ та проголошення Київського Патріархату. – С. 221-232.</p>
      <p>24. Кучинко М. Писемні та археологічні свідчення про Ісуса Христа. – С. 233-241.</p>
      <p>25. Обухович Л. Тростянецька Чудотворна ікона Богородиці Одигітрії. – С. 242-249.</p>
      <p>26. Скиба І., прот. Сучасний погляд на походження кирилиці та глаголиці. – С. 251-255.</p>
      <p>27. Романова О. Історія перекладу Біблії англійською мовою. – С. 257-262.</p>
      <p>28. Хоміч М. Рідна мова – життя духовного основа. – С. 263-269.</p>
      <p>29. Михалевич В., прот. Душпастирська діяльність у духовно-моральному вихованні молоді: актуальність та проблематика. – С. 271-277.</p>
      <p>30. Ротченкова Н. Формування духовної культури особистості. – С. 279-284.</p>
      <a href="/assets/documents/bg/VB_1.pdf"><i class="material-icons">insert_drive_file</i><b>Скачати електронний варіант журналу</b></a>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><b>№ 2, 2014</b> <i>(Волинський благовісник: богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2014. – №2. – 368 с. )</i></div>
    <div class="collapsible-body">
      <p>1. Титул.</p>
      <p>2. Зміст.</p>
      <p>3. Лозовицький В., cвящ. Узаконення беззаконня: штрих до розуміння ідеології встановлення «руского міра» за допомогою загарбницької братовбивчої війни. – С. 9-24.</p>
      <p>4. Стеблина П., свящ. Світоглядно-богословські ідеї св. Юстина Філософа. С. – 25-38.</p>
      <p>5. Хромяк А., свящ. Християнський погляд на земні блага. – С. 39-48.</p>
      <p>6. Стецько В. Наративний аналіз дослідження Святого Письма. – С. 49-62.</p>
      <p>7. Клочак В., прот. Богослужіння Православної Церкви як вираження правильного вчення. – С. 63-71.</p>
      <p>8. Хомин Л., прот. Релігія Древнього Риму. – С. 73-84.</p>
      <p>9. Скиба І., прот. Наслідки Берестейської унії для Православної Волині в перші післяунійні десятиліття. – С. 85-93.</p>
      <p>10. Цап М., прот. Волинське православне духовенство в Першій світовій війні. – С. 95-108.</p>
      <p>11. Черенюк Я., свящ. Український церковно-визвольний рух після падіння самодержавства та ліквідація синодального управління РПЦ. – С. 109-123.</p>
      <p>12. Черенюк С., протодиякон. Товариство Петра Могили на Волині в 30-их роках ХХ століття. – С. 125-135.</p>
      <p>13. Мартинов Н., ієромонах. Війни Візантії за імператора Юстиніана: спроба аналізу. – С. 137-145.</p>
      <p>14. Черняк М., свящ. Агафій Міринейський – історик і поет. – С. 147-156.</p>
      <p>15. Вакін В., прот. Компетенція духовної влади Константинопольських Патріархів щодо Київської митрополії. – С.157-170.</p>
      <p>16. Марченко К., ігумен. Православність проповіді. – С. 171-186.</p>
      <p>17. Вінцукевич П. Релігія та психоаналіз. – С. 187-206.</p>
      <p>18. Ямчук П. Штучне відродження антихристиянського культу ідолопоклонства в ХХ ст. та його українська духовно-філософська альтернатива. – С. 207-222.</p>
      <p>19. Беспалов С., свящ. Роль та значення діяльності святителя Петра Могили в житті Української Православної Церкви. – С. 223-230.</p>
      <p>20. Варварук Т., прот. Релігія в житті і творчості Тараса Шевченка. – С. 231-240.</p>
      <p>21. Бистрицька Е. Митрополит Діонісій (Валединський) і питання автокефального статусу Польської Православної Церкви у документах Ради у справах РПЦ. – С. 241-257.</p>
      <p>22. Кучинко М. Місіонерська діяльність апостола Павла у світлі археології. – С. 259-266.</p>
      <p>23. Чайка В. Історико-культурний феномен української духовної музики та її виховний вплив на становлення особистості. – С. 267-274.</p>
      <p>24. Тоцька О., Маласпіна В. Архієрейський хор «Оранта»: багатовекторність мистецької діяльності. – С. 275-283.</p>
      <p>25. Головей В. Богословський дискурс Преображення та його вплив на іконопис православної традиції. – С. 285-295.</p>
      <p>26. Обухович Л. Богослів'я символів і метафор в образотворенні Перванчівських празникових ікон. – С. 297-308.</p>
      <p>27. Гнатюк А. Рідна мова – шлях до Бога. – С. 309-324.</p>
      <p>28. Яровий С., архімандрит, Лозовицький В., свящ. Виправдання вірою. – С. 325-338.</p>
      <p>29. Громик О, дияк.,Беспалов С., свящ. Початки чернецтва на Святій Горі Афон. – С. 339-353.</p>
      <p>30. Фульмес В., Цап М., прот. Митрополит Анатолій (Дублянський) – засновник та редактор журналу «Рідна Церква». – С. 355-364.</p>
      <a href="/assets/documents/bg/VB_2.pdf"><i class="material-icons">insert_drive_file</i><b>Скачати електронний варіант журналу</b></a>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><b>№ 3, 2015</b> <i>(Волинський благовісник: богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2015. – №3. – 368 с.)</i></div>
    <div class="collapsible-body">
      <p>1. Титул.</p>
      <p>2. Зміст.</p>
      <p>3. Заплетнюк Є., прот. Проблематика Таїнства Хрещення в працях протопресвітера Олександра Шмемана [The issues of the Sacrament of Baptism in Protopresbyter Alexander Schmemann’s works]. – С. 13-24.</p>
      <p>4. Лозовицький В., прот., Штокало В., свящ. Хрест Христовий та його несення в життєвому подвигу християнства (до 1000-ліття мученицької смерті князів-страстотерпців Бориса й Гліба) [Cross of Christ and its bearing in the life feat of a Christian (dedicated to the 1000 anniversary of the martyrdom death of the princes-passion endurances Borys and Hlib)]. – С. 25-38.</p>
      <p>5. Тишкевич Б. Розкриття вчення про седмичне число Таїнств в Священному Писанні та древніх Отців і Вчителів Церкви[Exposure of the doctrine about the sevenfold number of Sacraments in the Holy Writing and the ancient Fathers and the Teachers of Church]. – С. 39-54.</p>
      <p>6. Клочак В., прот. Молитва Церкви за спочилих:богословський, історичний, літургічний огляд питання [Prayer of the Church for the dead: theological, historical, liturgical rev. of the question]. – С. 55-66.</p>
      <p>7. Борщевич В. Волинська єпархія 1917-1919 рр.: церковно-демократичний та національний виміри [The Volyn diocese 1917-1919: church-democratic and national measuring]. – С. 67-78.</p>
      <p>8. Булига І. Православні конфесії в системі державно-церковних змін на Волині завершального періоду Другої світової війни [Orthodox confessions in the system of State-Church changes in Volyn’ of the final period of the World War II]. – С. 79-86.</p>
      <p>9. Горбик С., прот. Переклад та видання творів святителя Іоана Золотоустого в Київській православній митрополії (XI-XVII ст.) [Translation and publication of works of saint Ioan Zolotoustui in Kyiv Orthodox metropolis (IX-XVII centuries)]. – С. 87-94.</p>
      <p>10. Скакальська І. Освітянська праця православних священиків на Волині у міжвоєнний період ХХ ст. [Educationa work of orthodox priest in Volyn in the interwar period of the ХХ century]. – С. 95-102.</p>
      <p>11. Стоколос Н. До питання специфіки церковно-релігійного життя в Україні на завершальному етапі другої світової війни [To the question of the specificity of the Church and religious life in Ukraine in the final stage of the Second World War]. – С. 103-114.</p>
      <p>12. Черенюк Я., свящ. Визнання Святійшого Урядуючого Синоду Російської Православної Церкви двома Східними Патріархами [Recognition of the Holy Governmental Synod of the Russian Orthodox Church by the two Eastern Patriarchs]. – С. 115-126.</p>
      <p>13. Головей В. Богословсько-догматичне обгрунтування іконописного мистецтва у ранньовізантійській патристиці IV-V ст. [The theological and dogmatic justification of icon art in the early Byzantine patristic of the IV-V centuries]. – С. 127-136.</p>
      <p>14. Вакін В., прот. Українська канонічна спадщина: Собор 1274 року у Володимирі на Клязьмі [Ukrainian canonical heritage: Ecumenical Council of 1274 in Volodymyr on Kliazma]. – С. 137-150.</p>
      <p>15. Хромяк А., свящ. Порівняльний аналіз православного та мусульманського шлюбу [A comparative analysis of the orthodox and muslim marriage]. – С. 151-158.</p>
      <p>16. Кобрій Р., свящ. Християнські основи творчості професора Дж. Р. Толкіна [Christian foundations of creativity Professor J. R. R. Tolkien]. – С. 159-172.</p>
      <p>17. Преловська І. Єпископ Марко Грушевський – очільник Волинської округи УАПЦ (до 150-ліття з дня народження [Bishop Mark Hrushevskii – the head of Volyn diocese UAOC (by his 150th anniversary)]. – С. 173-187.</p>
      <p>18. Цап М., прот. Протоієрей Олексій Моргаєвський і його служіння в Жидичині [Archpriest Oleksii Morhaievskyi and his service in Zhydychyn]. – С. 188-204.</p>
      <p>19. Обухович Л. Ікона "Ісус Христос – Господь Вседержитель" 1894 р. зі Свято-Троїцького собору м. Луцька [The icon «Jesus Christ – the Lord Almighty» of 1894 from the Holy Trinity Cathedral in Lutsk]. – С. 205-212.</p>
      <p>20. Жулинський М. Апостольська місія Тараса Шевченка та ідеали слов'янської єдності [Apostolic mission of Taras Shevchenko and ideals of slavic unity]. – С. 213-240.</p>
      <p>21. Хоміч М. Роль духовних письменників у становленні української літератури XVI-XVII ст. [The role of spiritual writers in the development of Ukrainian literature of the XVI‑XVII century]. – С. 241-254.</p>
      <p>22. Беспалов С., свящ. Значення духовності для сучасного українського суспільства [The value of spirituality for the modern Ukrainian society]. – С. 255-260.</p>
      <p>23. Мініч А. Християнство в пошуках відповіді: проблеми соціально-етичної доктрини [Christianity in search of answers: problems of socio-ethical doctrine]. – С. 261-280.</p>
      <p>24. Павленко П. "Русский мир" як ідеологія російського неоімперіалізму: українські реалії [«Russian World» as ideology of Russian neo-imperialism: Ukrainian realities]. – С. 281-286.</p>
      <p>25. Романова О. Християнське віровчення як основа формування патріотичної позиції кожного свідомого громадянина [Christian dogmas as the basis of the patriotic position forming of the every conscious citizen]. – С. 287-292.</p>
      <p>26. Тоцька О. Симфонія церковно-державних стосунків у сфері підготовки студентської молоді до подружнього життя [Symphony of church-state relations in the preparing of students to marriage]. – С. 293-300.</p>
      <p>27. Филипович Л. Актуальність міжрелігійного діалогу в сучасній Україні [Relevange of the interreligious dialogue in modern Ukraine]. – С. 301-306.</p>
      <p>28. Яроцький П. Основоположні чинники встановлення католицько-православного екуменічного діалогу [Fundamental factors for establishment of the Catholic-Orthodox ecumenical dialogue]. – С. 307-324.</p>
      <p>29. Левицький В., прот., Цап'юк М., прот. Святий Іриней Ліонський – церковний письменник, апологет християнського віровчення [Saint Irenaeus of Lyon is an ecclesiastical writer, apologist of Christian dogma]. – С. 325-334.</p>
      <p>30. Панащук С., Беспалов С., свящ. Інституалізаційні норми екзорцизму [Institualizational norms of exorcism]. – С. 335-340.</p>
      <p>31. Сирко В., Лозовицький В., прот. Вода у Священному Переданні та богослужбовому використанні Новозавітньої Церкви [Water in the Sacramental Tradition and the divine service use of the N. Test. Church]. – С. 341-355.</p>
      <a href="/assets/documents/bg/VB_3.pdf"><i class="material-icons">insert_drive_file</i><b>Скачати електронний варіант журналу</b></a>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><b>№ 4, 2016</b> <i>(Волинський благовісник: богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2016. – №4. – 352 с. )</i></div>
    <div class="collapsible-body">
      <p>1. Титул.</p>
      <p>2. Зміст.</p>
      <p>3. Беспалов С., свящ. Духовність як формуюча складова особистості людини [Spiritual as a formative component of a personality]. – С.13-22.</p>
      <p>4. Хромяк А, свящ. Важливість і життєва необхідність духовного керівництва для православного християнина на шляху до Царства Небесного [The importance and vital need of a spiritual guidance to the Orthodox Christian on the way to the kingdom of heaven]. – С. 23-30.</p>
      <p>5. Стецько В. Прихованість Бога та теорія ігор [Hiddenness of God and Game Theory]. – С. 31-42.</p>
      <p>6. Диба Ю. Корсунські "капища" Володимира Святославовича [Wolodymyr Sviatoslavovych’s  Corsun  «temples»]. – С. 43-76.</p>
      <p>7. Петрович В., Стрільчук Л. Церковні з'їзди на Волині 20-30 рр.  ХХ ст. [Religious Conferences in Volhynia in 20–30-ies of the 20th century]. – С.77-84.</p>
      <p>8. Романова О. Історичні передумови заснування Луцького Хрестовоздвиженського братства як осередку консолідації православ'я на теренах Західної України [Historical preconditions which promoted the foundation of Lutsk Exaltation of the Cross Brotherhood as a center of Orthodoxy Consolidation in Western Ukraine]. – С. 85-90.</p>
      <p>9. Рубан М., дияк., Татаринов С. Експропріація церковних цінностей та ліквідація храмів на теренах Бахмутського краю в 1920-х рр. [The Expropriation of the Church Property and Liquidation of the Temples in Bahmutskiy Region in the 1920]. – С. 91-96.</p>
      <p>10. Черенюк Я., свящ. Спроба церковних реформ в Російській Православній Церкві на початку ХХ ст. [Attempt of Church reforms in the Russian Orthodox Church in the early twentieth century]. – С. 97-118.</p>
      <p>11. Шваб Л. У пошуках "доброї старовини": українська суспільно-релігійна думка поунійної доби [In Search of «the Good oldness»:Ukrainian social and religious thought in post union days]. – С.119-134.</p>
      <p>12. Вакін В., прот. Соборні діяння дев'яностих років XVI ст. як орган вищого церковного управління Київської митрополії [Concillar  Activities in the Nineties XVI as the Higher Authority of the Church Management in Kyiv Metropolis]. – С. 135-148.</p>
      <p>13. Борщевич В. Участь архієпископа Олексія (Громадського) у розбудові Польської Автокефальної Православної Церкви [Participation Archbishop Olexij (Gromadskyj) in the development of the Polish Autocephalous Orthodox Church]. – С. 149-166.</p>
      <p>14. Скиба І., прот. Владика Полікарп (Сікорський) та українське православ'я на Волині в період радянської окупації 1939-1941рр. [Bishop Polycarp (Sikorskyj) and Volyn Ukrainian Orthodox Church during the Soviet occupation of 1939-1941]. – С. 167-176.</p>
      <p>15. Фульмес В., дияк. Погляди митрополита Анатолія (Дублянського) щодо майбутнього Помісної Української Православної Церкви [The views of the Metropolitan Anatolia (Dublyansky) to the future of the Local Ukrainian Orthodox Church]. – С. 177-184.</p>
      <p>16. Кучинко М. Історико-культурний розвиток Святої Землі в часи царювання Ірода Великого [Historical and Cultural Development of the Holy Land during Irod the Great’s reign]. – С. 185-192.</p>
      <p>17. Маласпіна В. До питання "церковного" виконання богослужбових пісне співів [On the issue “ecclesiastic” performance of liturgical chants]. – С. 193-200.</p>
      <p>18. Шабала Я. Православна сакральна архітектура в контексті історико-культурної спадщини Волині [Orthodox sacral architecture in the context of historical and cultural heritage of Volyn]. – С. 201-208.</p>
      <p>19. Хоміч М. Образ священнослужителя в духовній спадщині Святих Отців та в українській художній літературі [The image of the priest in the spiritual heritage of the holy fathers and Ukrainian literature]. – С. 209-226.</p>
      <p>20. Петрович В., Чарікова І. Православний аспект у соціально-виховній роботі з дітьми та молоддю в громаді [Orthodox aspect of the social and educational work with children and youth in the community]. – С. 227-234.</p>
      <p>21. Тоцька О. Обов'язки та права духовних дітей [Responsibilities and rights of spiritual children]. – С. 235-242.</p>
      <p>22. Ямчук П. Духовність, релігія та масова культура в добу постмодерну [Spirituality, religion and popular culture in the postmodern day]. – С. 243-262.</p>
      <p>23. Яровий С., архімандрит. Україна: кроки до гомодиктатури(аналітичний огляд) [Ukraine: steps to homodictatorship (analytical overview)]. – С. 263-286.</p>
      <p>24. Дідух Р., Цап М., прот. Діяльність Капеланської служби Волинської єпархії Київського патріархату у сфері медицини [The Role of Chaplain Activity of Volyn Kyiv Patriarchy Diocese in the Sphere of Medicine]. – С. 287-294.</p>
      <p>25. Антоній (Махота), митрополит, Лозовицький В., прот. Свідчення Священного Писання про межі (границі) Церкви [Testimony of the Holy Scripture about the Boundaries of the Church]. – С. 295-304.</p>
      <p>26. Малярчук В., Вакін В., прот. Роль Вселенських соборів в управлінні Православною Церквою [The  Role of Ecumenical Councils in Orthodox Church Management]. – С. 305-314.</p>
      <p>27. Царик М., Матфей (Шевчук), єпископ. Чернечі ордени Католицької Церкви та їхня діяльність в Україні [Monk Catholic  Orders and their Activity in Ukraine]. – С. 315-326.</p>
      <p>28. Боровий І., прот., Цап'юк М., прот. Сотеріологія святителя Феофана Затворника в контексті святоотцівського вчення про спасіння [Soteriology by St. Theophan the Recluse in the Context of Patristic Doctrine of Salvation]. – С. 327-338.</p>
      <a href="/assets/documents/bg/VB_4.pdf"><i class="material-icons">insert_drive_file</i><b>Скачати електронний варіант журналу</b></a>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><b>№ 5, 2017</b> <i>(Волинський благовісник: богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2017. – №5. – 368 с.)</i></div>
    <div class="collapsible-body">
      <p>1. Титул.</p>
      <p>2. Зміст.</p>
      <p>3. Беспалов С., прот. Значення благодатної допомоги Божої в таємниці спасіння [The significance of God's gracious help in the mystery of salvation]. – С. 15-28.</p>
      <p>4. Лозовицький В., прот. Осягнення людиною внутрішнього спокою та зовнішнього миру через подвиг християнської смиренномудрості [The person's perception of inner peace and outer peace through the feat of Christian humility]. – С.  29-43.</p>
      <p>5. Тишкевич Б. Православно-богословський аналіз основ римо-католицького вчення про священство [Orthodox theological analysis of the foundations of the Roman Catholic doctrine of the priesthood]. – С.  45-56.</p>
      <p>6. Стецько В. Церква як місце зустрічі людини з Богом (Мф. 16:16-19) [The Church as the place of meeting for the person with God (Matt. 16: 16-19) ]. – С. 57-73.</p>
      <p>7. Хромяк А., свящ. Питання про деякі неточності в Синодальному перекладі Біблії [The question of some inaccuracies in the Synodal translation of the Bible]. – С. 75-83.</p>
      <p>8. Клочак В., прот. Чин освячення мира та його історія в Київській митрополії [The consecration of Chrism and its history in the Kyivan Church]. – С. 85-95.</p>
      <p>9. Диба Ю. Джерела до ранньої історії Володимирської єпархії [Sources to the early history of the Vladimir Diocese]. – С. 97-118.</p>
      <p>10. Сацький П. Основні чинники кризи релігійної свідомості українського суспільства у період революції 1917-1921 рр. [The main factors of the crisis of religious consciousness of Ukrainian society during the period of revolution (1917-1921) ]. – С. 119-125.</p>
      <p>11. Скакальська І. Церковно-громадський часопис "Церква і нарід" за 1936 р.: висвітлення діяльності національної еліти [Church and community chaospiris «The Church and people» for 1936: lighting the activities of the national elite]. – С. 127-134.</p>
      <p>12. Рубан М., дияк., Татаринов С. Старообрядці Донбасу XVIII – початку ХХ ст.: історико-конфесійний аспект The Old belivers of Donbas from XVIII to the beginning of XX century: historical and confessional aspect]. – С. 135-143.</p>
      <p>13. Черенюк Я., свящ. Участь Київських митрополитів у засіданнях Святійшого Урядуючого Синоду Російської Православної Церкви [Participation of the Kyiv Metropolitan in the meetings of the Holy Governmental Synod of the Russian Orthodox Church]. – С. 145-164.</p>
      <p>14. Головей В. Теорія символічного образу у візантійському богослів'ї VI-VII ст. The Theory of Symbolic Image in Byzantine Theology of the VI-VII th centuries]. – С. 165-178.</p>
      <p>15. Вакін В., прот. Українська канонічна спадщина: Київський собор 1640 року [Ukrainian canonical heritage: Kiev Council in 1640]. – С. 179-187.</p>
      <p>16. Вінцукевич П. Пам'ятка інтелігентам-богошукачам: псевдоцерковність Богородичного центру [Memo to the God-seeker intellectuals: pseudo-church of Theotokos centre]. – С. 189-209.</p>
      <p>17. Фульмес В., свящ. Архієпископ Херсонський і Одеський Димитрій (Ковальницький) – випускник Волинської духовної семінарії [Archbishop of  Kherson and Odessa Dimitry (Kovalnytsky) – a graduate of the Volyn Theological  Seminary]. – С. 210-219.</p>
      <p>18. Цап М., прот. Протоієрей Петро Ткач в історії Заборольської парафії "Собор Пресвятої Богородиці" [Archipriest Peter Tkach in the history of Zaborol parish «Cathedral of the Blessed Virgin» ]. – С. 220-237.</p>
      <p>19. Кучинко М. Ассирійсько-вавилонське поневолення та полон євреїв у світлі Біблії та археології [Assyrian-Babylonian enslavement and full of Jews in the light of the Bible and archeology]. – С. 239-245.</p>
      <p>20. Хоміч М. Особливості богословського (конфесійного) стилю сучасної української літературної мови в богослужбовій практиці УПЦ КП [Features of theological (confessional) style of the modern Ukrainian literary language in the liturgical practice of the UOC-KP]. – С. 247-262.</p>
      <p>21. Дідух Р., Цап М., прот. Роль засобів масової інформації в Православній Церкві та їхній вплив на суспільство [The role of mass media in the Orthodox Church and their influence in the society]. – С.  263-276.</p>
      <p>22. Кобрій Р., свящ. Діяльність Константинопольського Патріарха Варфоломія І у сфері захисту довкілля [Activities of Constantinople Patriarch Bartholomew I. in the field of environmental protection]. – С. 277-283.</p>
      <p>23. Кочерга Є. Здоров'я особистості в сучасних умовах та православна психотерапія [Health of the person in modern conditions and Orthodox psychotherapy]. – С. 285-292.</p>
      <p>24. Кузін В., дияк. Постколоніальна критика як культурна практика [Postcolonial criticism as a cultural practice]. – С. 293-319.</p>
      <p>25. Яроцький П. Релігійний, соціально-політичний, культурно-цивілізаційний вимір Європейської Реформації та особливості її сприйняття в Україні [Religious, sociopolitical, cultural and civilizational dimension of the European Reformation and peculiarities of its perception in Ukraine]. – С. 321-336.</p>
      <p>26. Шеремета І., свящ., Цап'юк М., прот. Вплив античної філософської думки на творчість мужів апостольських [The influence of antique philosophical opinions on the work of the apostolic men]. – С. 337-344.</p>
      <p>27. Качан А., ієромонах, Зборовський І., ієромонах. Проповідницько-гомілетична творчість українського православного духовенства в ХІХ ст. [Preaching-homiletical work of the ukrainian orthodox clergy in the XIX century]. – С. 345-354.</p>
      <a href="/assets/documents/bg/VB_5.pdf"><i class="material-icons">insert_drive_file</i><b>Скачати електронний варіант журналу</b></a>
    </div>
  </li>
</ul>