<ul class="collapsible popout" #collapse>
  <li>
    <div class="collapsible-header"><b>Волинський благовісник:</b> богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2013. – №1. – 288 с.</div>
    <div class="collapsible-body">
      <p><b>Редакційна колегія:</b></p>
      <p><i>Головний редактор</i> – протоієрей Ігор Швець, кандидат богословських наук, ректор ВПБА.</p>
      <p><i>Заступник головного редактора</i> – свящ. Володимир Вакін, к.б.н., проректор з науково дослідницької роботи ВПБА.</p>
      <p><i>Відповідальний секретар</i> – свящ. Андрій Хром’як, к.б.н.</p>
      <p><i>Члени редакційної колегії:</i> свящ. Василь Лозовицький, к.б.н., проректор з навчальної роботи ВПБА; прот. Ігор Скиба, секретар вченої ради ВПБА; прот. Віталій Лотоцький, к.б.н.; прот. Миколай Цап’юк, к.б.н.; свящ. Ярослав Черенюк, к.б.н.; Кучинко Михайло Михайлович, проф., д.і.н.; Рожко Володимир Євтухович, к.ц-і.н.; Сацик Ігор Каленикович, к.філос. н.</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><b>Волинський благовісник:</b> богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2014. – №2. – 368 с.</div>
    <div class="collapsible-body">
      <p><b>Редакційна колегія:</b></p>
      <p><i>Головний редактор</i> – прот. Володимир Вакін, кандидат богословських наук, ректор ВПБА.</p>
      <p><i>Заступник головного редактора</i> – свящ. Ярослав Черенюк, к.б.н., проректор з науково-дослідницької роботи ВПБА.</p>
      <p><i>Відповідальний секретар</i> – Сацик Ігор Каленикович, к.ф.н.</p>
      <p><i>Члени редакційної колегії:</i> свящ. Василь Лозовицький, к.б.н., проректор з навчальної роботи ВПБА; прот. Ігор Скиба, секретар вченої ради ВПБА; прот. Миколай Цап; прот. Миколай Цап’юк, к.б.н.; прот. Василь Клочак; Жулинський Микола Григорович, академік НАН України; Кучинко Михайло Михайлович, проф., д.і.н.</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><b>Волинський благовісник:</b> богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2015. – №3. – 368 с.</div>
    <div class="collapsible-body">
      <p><b>Редакційна колегія:</b></p>
      <p><i>Головний редактор</i> – прот. Володимир Вакін, кандидат богословських наук, доцент, ректор ВПБА.</p>
      <p><i>Заступник головного редактора</i> – свящ. Ярослав Черенюк, к.б.н., доцент, проректор з науково-дослідницької роботи ВПБА.</p>
      <p><i>Відповідальний секретар</i> – Сацик Ігор Каленикович, к. ф. н.</p>
      <p><i>Члени редакційної колегії:</i> прот. Ігор Скиба, проректор з навчальної роботи ВПБА; свящ. Василь Лозовицький, к.б.н., доцент, секретар вченої ради ВПБА; прот. Миколай Цап’юк, к.б.н.; прот. Миколай Цап; прот. Василь Клочак; Жулинський Микола Григорович, д. ф. н., академік НАН України; Кучинко Михайло Михайлович, проф., д. і. н.</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><b>Волинський благовісник:</b> богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2016. – №4. – 352 с.</div>
    <div class="collapsible-body">
      <p><b>Редакційна колегія:</b></p>
      <p><i>Головний редактор</i> – прот. Володимир Вакін, кандидат богословських наук, доцент, ректор ВПБА.</p>
      <p><i>Заступник головного редактора</i> – свящ. Ярослав Черенюк, к. б. н., доцент.</p>
      <p><i>Відповідальний секретар</i> – Сацик Ігор Каленикович, к. ф. н., доцент.</p>
      <p><i>Члени редакційної колегії:</i> митрополит Михаїл (Зінкевич), д. б. н.; прот. Богдан Гринів, д. б. н.; Стецько В’ячеслав Анатолійович, д. б. н.; Жулинський Микола Григорович, д. ф. н., академік НАН; Кучинко Михайло Михайлович, проф., д. і. н.; Головей Вікторія Юріївна, проф., д. ф. н.; Кучерепа Микола Михайлович, проф., к. і. н.; прот. Василь Лозовицький, к. б. н., доцент; прот. Миколай Цап’юк, к. б. н.</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><b>Волинський благовісник:</b> богословсько-історичний науковий журнал Волинської православної богословської академії Української Православної Церкви Київського Патріархату. – Луцьк: Видавництво Волинської православної богословської академії EIKΩN, 2017. – №5. – 368 с.</div>
    <div class="collapsible-body">
      <p><b>Редакційна колегія:</b></p>
      <p><i>Головний редактор</i> – прот. Володимир Вакін, кандидат богословських наук, доцент, ректор ВПБА.</p>
      <p><i>Заступник головного редактора</i> – свящ. Ярослав Черенюк, к. б. н., доцент.</p>
      <p><i>Відповідальний секретар</i> – Сацик Ігор Каленикович, к. ф. н., доцент.</p>
      <p><i>Члени редакційної колегії:</i> прот. Василь Вепрук, д. б. н.; прот. Богдан Гринів, д. б. н.; Стецько В’ячеслав Анатолійович, д. б. н.; Жулинський Микола Григорович, д. ф. н., академік НАН; Кучинко Михайло Михайлович, д. і. н., проф.; Головей Вікторія Юріївна, д. ф. н., проф.; Кучерепа Микола Михайлович, к. і. н., проф.; прот. Василь Лозовицький, к. б. н., доцент; прот. Миколай Цап’юк, к. б. н.</p>
    </div>
  </li>
</ul>