<p style="text-align: center"><b>Шановні колеги!</b></p>
<p>Запрошуємо Вас подати свою наукову статтю в щорічний богословсько-історичний науковий журнал Волинської православної богословської академії <b>«Волинський благовісник»</b>.</p>
<p style="text-align: center"><b>Вимоги до оформлення матеріалів</b></p>
<p>Статтю потрібно надсилати в електронному варіанті в режимі <i>.doc</i> версії <i>Word 1997–2007 рр.;</i> гарнітура – <i>Times New Roman</i>; кегель – 14 з інтервалом 1,5; обсяг статті – не менше 12 сторінок форматом А4 (<i>загалом стаття має містити не менше 25 000 знаків з пробілами</i>); у тексті не має бути примусових переносів.</p>
<p>Послідовність структурних елементів статті: у правому верхньому куті – ім'я та прізвище автора, науковий ступінь, посада, повна назва навчального (наукового) закладу українською та англійською мовами; нижче по центру – назва статті; ще нижче по центру – анотація статті і ключові слова українською та англійською мовами (<i>анотація повинна містити не менше 1 800 знаків з пробілами, в ній коротко викладається актуальність статті, мета, вміст, висновки і перспективи подальших досліджень</i>).</p>
<b>Стаття має містити такі положення:</b>
<ul>
    <li><span>постановка наукової проблеми та її значення;</span></li>
    <li><span>аналіз досліджень цієї проблеми;</span></li>
    <li><span>мета і завдання статті;</span></li>
    <li><span>виклад основного матеріалу й обґрунтування отриманих результатів дослідження;</span></li>
    <li><span>висновки та перспективи подальшого дослідження.</span></li>
</ul>
<p><i>Бібліографічні посилання</i> в тексті на джерела слід супроводжувати підстрочними посиланнями, які подаються таким чином: в кінці речення, в якому використовується цитата, факти, дати тощо вгорі позначається номер посилання відповідними цифрами, а внизу сторінки під рискою приводять під тим же номером джерело.</p>
<p>В кінці статті подається список джерел та літератури, оформлений згідно з ДСТУ 8302:2015 «Інформація та документація. Бібліографічне посилання. Загальні положення та правила складання», а також <b>References</b> – список використаної літератури, оформлений за міжнародним бібліографічним стандартом: назви періодичних україно- та російськомовних видань (журналів, збірників та ін.) подають транслітерацією, в дужках – англійською мовою.</p>
<p>Текст має бути відредагований і перевірений, прізвища та інші власні назви, а також терміни мають бути звірені й уніфіковані. Бажано уникати абревіатур, а в разі потреби – розшифровувати їх.</p>
<p>Редакційна колегія залишає за собою право відхиляти матеріали у разі їх невідповідності науковому спрямуванню журналу чи наявності чисельних редакційно-стилістичних огріхів, а також у разі невчасної подачі.</p>
<p>Електронні версії статей просимо надсилати на адресу: <ins>nauka@vpba.org</ins></p>
<p></p>
